@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <input type="number" placeholder="First number"/>
    <input type="number" placeholder="Secound number"/>
    <button type="submit" placeholder="Result"></button>
</form>